.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


img {
  width: 45px;
  height: 45px;
}

.grid {

}

.grid span {
  width: 45px;
  height: 45px;
  display: inline-block;
}

.cell {
  width: 45px;
  height: 45px;
  display: inline-block;
  border: solid 1px #000;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.number {
  font-weight: bold;
  font-size: 36pt;
}

.n1 {
  color: #00F;
}

.n2 {
  color: #187B00;
}

.n3 {
  color: #FA1000;
}

.n4 {
  color: #000081;
}

.n5 {
  color: #780200;
}